<!-- <div class="embed-fungen"> 
    <script src="https://fungenerators.com/extensions/embed/v1/fungen.js"></script>
     <script> 
         FunGen.Embed.render( { context: 'random', toolId: 'facts/animal/penguin' } ); 
       </script> 
    <noscript>
        Please enable JavaScript to view the <a href="https://fungenerators.com/random/facts/animal/penguin">Random Penguin Facts generator from fungenerators.com.</a>
    </noscript> 
    <div class="light-text" style="text-decoration: none; color:#ccc; text-align: right; padding-right: 20px; margin-top: -20px;"> 
         <a href="https://fungenerators.com/random/facts/animal/penguin" title="Powered by Random Penguin Facts generator from fungenerators.com" style="text-decoration: none; color:#ccc; ">fungenerators.com</a>
    </div>
</div> -->
<div>
    <script>
        var items = [1, 2, 3, 4, 5];
        var item = items[Math.floor(Math.random()*items.length)];
        console.log(item);

    
</script>
    <!--<p>Hello</p>
    <script>
        function generateFact() {
    var factArray = [1, 2, 3, 4, 5, 6, 7, 8];
    for (var i = 0; i < factArray.length; ++i) {
        retVal = [Math.floor(Math.random() * factArray.length)];
         }
         return retVal;
        }
    </script>  -->
</div>

<!--<script>generateFact();</script> -->
<script src="/javascript/fact.js"></script>
