<footer class="container">
  <img src="/img/txt-tagline.png" alt="We are the Waddle" />
  <div class="copyright">
    Copyright &copy;
    <script>document.write(new Date().getFullYear())</script>
    PenguinPost All Rights Reserved
  </div>
</footer>