<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PenguinPost</title>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      {{#if loggedIn}}
        <header>
          <img src="/public/img/txt-logo.png" />
          <nav>
            <a href="/dashboard">dashboard</a>
            <a href="/settings">settings</a>
            <button id="logout" class="btn-no-style">logout</button>
          </nav>
        </header>
      {{/if}}
      <main>
        {{{body}}}
      </main>
      <footer>
        <img src="/public/img/txt-tagline.png" />
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>