{{> header }}
<div class="error-page">
    <img src="./img/404-trouble.png" alt="Picture of penguin about to get wrecked!"/>


    <h2>
        Error 404 Penguin Not Found
    </h2>

</div>
{{> fact }}
{{> footer }}




