<div class="container-picture"
    <img src="/img/404-trouble.png" alt="Picture of shark about to eat a penguin"/>
</div>

<div class="container-message">
    <h2>
        Error 404 Penguin Not Found"
    </h2>
</div>


{{> fact }}
