<div class="container-picture container">
    <img style="width:70vw; margin-left: 15vw;" src="./img/404-trouble.png" alt="Picture of shark about to eat a penguin"/>
</div>

<div class="container-message container text-center">
    <h2>
        Error 404 Penguin Not Found
    </h2>
</div>


{{> fact }}
