<section>
{{> header }}
<div class="container dashboard">
  <div class="row">
    <div class="col-md-3 nav-area  d-flex flex-column">
      <div class="friends-list p-2"><h3>Friends</h3>
      {{> friends}}      
      </div>
      
      <form class="search-form p-2">
        <input type="text" id="search" placeholder="Search" />
        <button type="submit">0&gt;</button>
      </form>
      
      <div class="icecube mt-auto p-2">
        <img src="/img/pengiun-ice.png" />
      </div>

    </div>
    <div class="col-md-9 post-area">
<form class="new-post-form">
    <h2>New Squawk</h2>
    <textarea style="color: #252524" class="post-text" name="post-content" id="post-content" cols="80" rows="2" maxlength="281" placeholder="Tell 'Em All About It"></textarea>
    <div class="count" id="count">&nbsp;</div>
    <button type="submit">sQuaWk!</button>
    </form>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>


    </div>
  </div>
</div>

{{> footer }}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/text-count.js"></script>
<script src="/javascript/search.js"></script>
</section>