{{> header }}
<section class="dashboard container">
  <div class="row">
<div class="col-md-3 icecube">
  <img src="/img/pengiun-ice.png" />
</div>
    <div class="col-md-9">
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</div></div>
</section>
{{> footer }}