{{> header }}
<section class="dashboard container">
  <div class="row">

    <div class="col-md-9">
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
    <button type="button" class="favorite-btn">Favorite</button> {{ post.favorite_count}} Favorites
  </li>
  {{/each}}
</ol>
</div>
<div class="col-md-3 d-flex flex-column">
  <div class="mt-auto p-2">
  <img class="home-cube" src="/img/pengiun-ice.png" />
  </div>
</div>
</div>
</section>
{{> footer }}
<script src="/javascript/favorite.js"></script>