{{> header }}
<section class="container dashboard">
<div class="profile-hero">
  <img src="{{user.hero}}"/>
</div>
<div class="row profile-holder">
<div class="col-md-4 profile-nav">
<h2>{{user.username}}</h2>
{{!-- <button type="submit">ADD FRIEND</button> --}}
<img class="profile-cube" src="/img/pengiun-ice.png" />
</div>
<div class="col-md-8 profile-posts">


<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
    <div class="favorite-holder">
    <input type="hidden" class="post_id" id="post_id" value="{{post.id}}">
    <input type="image" src="/img/star.png" class="favorite-btn"> {{post.favorite_count}} Favorites
    </div>
  </li>
  {{/each}}
</ol>





</div>
</div>
</section>
{{> fact}}
{{> footer }}
<script src="/javascript/favorite.js"></script>