{{> header }}
<img class="hero" src="{{user.hero}}"/>
<div> This is the profile of {{user.username}}</div>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
{{> footer }}
