* {
  box-sizing: border-box;
}

body,
html, main {
  height: 100%;
  padding: 0px;
  margin: 0;
  font-family: tahoma, sans-serif;
  background-color: #000000;
}
a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}
header {
    background-color: #2E0043;
}
.dashboard {
  background-color: #252524;
  color: #ffffff;
}
.header-holder {
  margin: auto;
}
.left-header img {
  max-width: 40%;
}
.left-header {
  text-align: left;
  padding: 10px;
}
.right-header {
  text-align: right;
  padding: 10px;
}
nav button {
  background-color: #8CBDFF;
    border: 1 solid #000000;
    padding: 1%;
    color: #252524;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    width: 10rem;
}
nav a {
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}
nav button {
  margin-left: 5px;
}
section {
    background-color: #000000;
}
footer {
    text-align: center;
}
a:hover {
    color: #D1E0FF;
  }

button {
    background-color: #8CBDFF;
    border: 1 solid #000000;
    padding: 3%;
    color: #252524;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    width: 12rem;
  }

button:hover {
    background-color: #D1E0FF;
    border: 1 solid #ffffff;
  }
.login-holder {
  height: 100%;
}

.login-left {
    background-image: url("/img/login-background.jpg");
    vertical-align: center;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}
.login-right {
    background-color: #252524;
    color: #ffffff;
    vertical-align: center;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}
.login-left img {
    max-width:75%;
    margin: auto;
}

.form-holder {
    margin: auto;
    margin-top: 0px;
}

.login-right img {
    max-width:80%;
    align-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    display: block;
    padding-bottom: 20px;
}

.login-right form {
    text-align: right;
    color:#ffffff;
}
form input {
    color:#252524;
}

li {
  list-style-type: none;
}
.post-row {
  padding: 5px
}
.icon-holder {
  padding-top: 30px;
}
.post-holder {
  padding-top: 20px;
  padding-right: 20px;
}
.post {
  font-size: 1.4rem;
}

.error-page {
  text-align: center;
  margin: 0;
  background-color: #252524;
}

.error-page img {
  padding-top: 5%;
  max-width: 30%;
}
.error-page h2 {
  color: #ffffff;
}
.post-icon {
  max-width: 50px;
}
.search-form {
  padding-top: 10px;
}
.friends-list {

}
.search-form input {
  max-width: 80%;
  height: 3rem;
}
.search-form button {
  max-width: 15%;
  height: 3rem;
}
.post-area {
  padding: 3%;
}
textarea {
  padding: 5px;
  /* color: #252524; */
  /* color has to be defined in the handlebars html */
}
.new-post-form button {
  padding: 1%;
}
.nav-area {
  padding-top: 3%;
}
.count {
  color: #ffffff;
}
.icecube img {
  /* padding-top: 200%; */
  max-width: 100%;
}
.icecube {
  /* position: fixed;
  bottom: 0; */
  max-width: 100%;
}
.copyright {
  color: #ffffff;
}
.home-cube {
  max-width: 100%;
}
.settings-holder {
  padding: 5%;
}
.settings-holder button {
  padding: 5px;
}
.settings-holder input {
  padding: 3px;
  margin: 5px;
}
.input-holder{
  align-items: left;
}
.new-icon-img {
  text-align: left;
  padding-top: 3%;
}
.settings-icon {
  max-width: 15%;
}
.settings-hero {
  max-width: 70%;
}
.profile-nav button{
  padding: 1%;
}
.profile-cube {
  max-width: 100%;
}
.profile-hero {
  text-align: center;
}
.profile-holder {
  padding: 10%;
}
.fact-holder {
  text-align: center;
  color: #ffffff;
  padding: 10px;
}